<% include _header %>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a href="/" class="navbar-brand">Nodeapi</a></div>
    <div>
      <h5><%= __('Language') %> </h5>
      <% getLocales().forEach( locale => { %>
        <a href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp;
        <!-- /change-locale va a poner una cookie de forzar idioma y luego recragará la página -->
      <% }) %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('Advertising List') %></h1>
      <p class="lead"><%= __('Listing: ') %><%= anuncios.length %> <%= __('out of') %> <%= total %> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <th><%= __('Name') %> </th>
          <th><%= __('On sale') %></th>
          <th style="text-align: right"><%= __('Cost') %> </th>
          <th><%= __('Photo') %> </th>
          <th><%= __('Tags') %> </th>
          <th>#</th>
        </tr></thead>
        <tbody>
<% anuncios.forEach(anuncio => { %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td><%= anuncio.venta ? __('Yes') : __('No') %></td>
            <td style="text-align: right"><%= anuncio.precio / 100 %>€</td>
            <td><img src="<%= anuncio.foto %>"></td>
            <td><%= anuncio.tags %></td>
            <td><%= anuncio._id %></td>
            
          </tr>
<% }) %>
        </tbody>
      </table>

      <p><%= __('Examples') %> </p>

      <ul>
        <li><a href="?"><%= __('All') %>  <%= __('(Max. 100)') %> </a></li>
        <li><a href="?start=2&limit=2">Paginado</a></li>
        <li><a href="?sort=precio"><%= __('Cost - Ascendent Order') %> </a></li>
        <li><a href="?sort=-precio"><%= __('Cost - Descendent Order') %> </a></li>
        <li><a href="?tag=mobile"><%= __('With mobile tag') %> </a></li>
      </ul>

    </div>
  </div>

  <a href="/"><%= __(' <<-- Back Home') %> </a>

</div>
<% include _footer %>
